/* google font */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

/* variables */
:root {
    /* font family */
    --ff-base: "League Spartan", sans-serif;
    /* font weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    /* color */
    --clr-primary: hsl(300, 43%, 22%);
    --clr-accent: hsl(333, 80%, 67%);
    --clr-neutral-ltr: hsl(300, 24%, 96%);
    --clr-neutral: hsl(303, 10%, 53%);
    --clr-white: hsl(0, 0%, 100%);
}

/* reset */
/* box-model */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* general styling */
body {
    /* layout */
    height: 100vh;
    /* display */
    display: grid;
    place-content: center;
    /* font */
    font-family: var(--ff-base);
    font-size: 15px;
    line-height: 1.5;
    font-weight: var(--fw-regular);

    /* background */
    background-color: var(--clr-white);
}

/* display */
.grid {
    display: grid;
}

.flex {
    display: flex;
}

/* social proof */
.social-proof.container {
    width: 1100px;
    height: 600px;
}

.social-proof {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "header rates"
        "testimonial testimonial";
}

/* header */
.header {
    grid-area: header;
    padding-right: 10rem;
}
.heading {
    font-size: 2.5rem;
    line-height: 1;
    color: var(--clr-primary);
    margin-bottom: 1rem;
    padding-right: 5rem;
}

.paragraph {
    color: var(--clr-neutral);
}

/* rate card */

.rates {
    grid-area: rates;
    gap: 1rem;
    grid-template-columns: 10px 10px 1fr 10px 10px;
    grid-template-rows: 1fr 1fr 1fr;
    height: fit-content;
}

.rate-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
}

.rate-2 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 2;
}

.rate-3 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 3;
}

.rate-card.container {
    max-width: 500px;
    height: fit-content;
}

.rate-card {
    border-radius: 1rem;
    background-color: var(--clr-neutral-ltr);
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
}

.icon-wrapper {
    align-items: center;
}

/* testimonial card */

.testimonial {
    grid-area: testimonial;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10px 10px 1fr 10px 10px;
    height: fit-content;
}

.testimonial-1 {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}
.testimonial-2 {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}
.testimonial-3 {
    grid-column: 3;
    grid-row-start: 3;
    grid-row-end: 6;
}

.testimonial-card.container {
    width: 356px;
}

.testimonial-card {
    background-color: var(--clr-primary);
    border-radius: 1rem;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
    color: var(--clr-neutral-ltr);
}

.testimonial-card > .header {
    gap: 1rem;
    align-items: center;
    width: max-content;
}

.profile {
    border-radius: 50%;
    width: 3rem;
}

.user-data .name {
    font-weight: var(--fw-bold);
}

.user-data .status {
    color: var(--clr-accent);
}

/* mobile */

@media screen and (max-width: 375px) {
    .social-proof.container {
        width: 328px;
    }

    .social-proof {
        display: block;
    }

    .header {
        padding: 0;
        text-align: center;
        margin-bottom: 2rem;
    }
    .heading {
        padding: 0;
    }

    .rates {
        display: block;
        margin-bottom: 2rem;
    }

    .rate-card.container {
        width: 328px;
    }

    .rate-card {
        flex-direction: column;
        gap: 4px;
        margin-bottom: 1rem;
    }

    .testimonial {
        display: block;
        padding-bottom: 8rem;
    }

    .testimonial-card.container {
        width: 328px;
    }
    .testimonial-card {
        margin-bottom: 1rem;
    }
}
