/* google font */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

/* variables */
:root {
    /* font family */
    --ff-base: "League Spartan", sans-serif;
    /* font weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    /* color */
    --clr-primary: hsl(300, 43%, 22%);
    --clr-accent: hsl(333, 80%, 67%);
    --clr-neutral-ltr: hsl(300, 24%, 96%);
    --clr-neutral: hsl(303, 10%, 53%);
    --clr-white: hsl(0, 0%, 100%);
}

/* reset */
/* box-model */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* remove default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* general styling */
body {
    /* layout */
    height: 100vh;
    /* display */
    display: grid;
    place-content: center;
    /* font */
    font-family: var(--ff-base);
    font-size: 15px;
    line-height: 1.5;
    font-weight: var(--fw-regular);

    /* background */
    background-color: var(--clr-white);
}

/* display */
.grid {
    display: grid;
}

.flex {
    display: flex;
}

/* rate card */

.rates {
    gap: 1rem;
}

.rate-card.container {
    max-width: 500px;
}

.rate-card {
    border-radius: 1rem;
    background-color: var(--clr-neutral-ltr);
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
}

/* testimonial card */
